*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# Misc files
*.swp
workbench.xmi 
.classpath
.DS_Store
tags
types_java.taghl
.gradle/


# IntelliJ Project files
.idea/
P7-Project.iml
_mac/
keymaps/
/*.xml # All xml files in root
